API_BASE_URL=http://api-service:8000
HLS_BASE_URL=http://localhost:8080/hls
CHAT_WS_BASE_URL=ws://localhost:8002
ORCHESTRATOR_CONTAINER_NAME=worker-pool-orchestrator
ORCHESTRATOR_URL=http://worker-pool-orchestrator:8000